<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated typing_wrapper -->
      <package
            uri="http://beautyocl/atl/typing_wrapper"
            class="beautyocl.atl.typwrapper.TypwrapperPackage"
            genModel="metamodels/typing_wrapper.genmodel"/>
   </extension>

</plugin>
