<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emfocl_typing_wrapper -->
      <package
            uri="http://beautyocl/atl/emfocl_typing_wrapper"
            class="emfocl.typwrapper.TypwrapperPackage"
            genModel="metamodels/emfocl_typing_wrapper.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated emfocl_comparison_wrapper -->
      <package
            uri="http://beautyocl/atl/emfocl_comparison_wrapper"
            class="comppwrapper.ComppwrapperPackage"
            genModel="metamodels/emfocl_comparison_wrapper.genmodel"/>
   </extension>

</plugin>
